body {
    padding: 0;
    margin: 0;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    
}

.prototype {
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

.para {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
}

.height {
    text-align: right;
    
}

p {
    color: yellow;
    font-weight: bold;
}

p:hover {
    display: block;
}